h1 {
  // margin: 0.3em 0px;
  display: inline;
}

.container {
  width: 320px;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  padding: 16px;
  overflow-y: scroll;
  font-size: 12px;

  animation-duration: 0.3s;
  animation-name: slidein;
  @keyframes slidein {
    from {
      right: -100%;
    }
    to {
      right: 0;
    }
  }
}

.img {
  width: 100%;
}

.rating {
  font-weight: bold;
  font-size: 1em;
}

.price {
  // font-weight: bold;
  font-size: 1.5em;
  color: #003580;
}

.star {
  color: #febb02;
}

.fb-container {
  display: flex;
}

.fb-img {
  float: left;
  display: inline-block;
  margin: 0 8px 8px 0;
  height: 48px;
  width: 48px;
}

.fb-text {
  float: right;
  display: inline-block;
}

.fb-name {
  font-size: 14px;
  color: #365899;
  // margin-bottom: 5px;
  margin-top: 4px;
}

.fb-rating, .fb-time {
  color: #90949c;
  margin-bottom: 5px;
}

.fb-blue-star {
  color: #4080ff;
  font-size: 16px;
}

.fb-gray-star {
  color: #90949c;
  font-size: 16px;
}

