.container {
  width: 320px;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  padding: 16px;
  overflow-y: scroll;
}

.img {
  width: 100%;
}

.rating {
  font-size: 1.5em;
}

.price {
  font-size: 1.5em;
}

.star {
  color: #febb02;
}
