/**
 * @module app.scss
 */

.wrapper {
  height: 100%;
  ul {

    font-size: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    li:not(:last-child):after {
      content: '　|　';
      margin: 0 5px;
    }
    a{
      color: #000;
      font-weight: bold;
      &:hover{
        color: #666;
      }
    }
  }
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}
