/**
 * @module app.scss
 */

.map-page {
  height: calc(100% - 46px);
  position: relative;
  &:before{
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .85);
  }
  &.at-edit{
    &:before {
      display: none;
    }
    .input-block+div > * {
      filter: initial;
    }
    .input-block {
      left: 10px;
      top: 10px;
      transform: initial;
      max-width: 330px;
      @include box-shadow();
      font-size: 15px;
      @include border-radius();
      &:before, &:after {
        display: none;
      }
      .input {
        width: calc( 100% - 70px );
        margin: 0;
        color: #000;
        background-color: #fff;
        &::placeholder{
          color: #999;
        }
      }
      button{
        width: 70px;
      }
    }
  }
  .input-block {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 40px);
    max-width: 600px;
    font-size: 20px;
    transition: all .3s;
    &:before, &:after {
      margin-left: 15px;
    }
    &:before{
      color: #fff;
      font-size: 22px;
      content: 'Destination, property name or address:';
    }
    &:after{
      font-size: 16px;
      content: 'Near by Booking, here you go!';
    }
    div{
      display: inline;
      .input {
        margin: 8px 0;
        color: #fff;
        width: calc(100% - 120px);
        outline: none;
        border: 1px solid #666;
        border-right: none;
        background-color: rgba(#fff, .1);
        padding: 15px;
        transition: all .3s;
        box-sizing: border-box;
        &::placeholder{
          color: rgba(#fff, .3);
        }
        @include border-radius();
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        &:focus {
          border-color: rgba(#fff, .5);
        }
      }
    }
    button{
      color: #fff;
      width: 120px;
      padding: 15px;
      background-color: $blue1;
      border: 1px solid #666;
      // border-left: none;
      @include border-radius();
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
  .input-block+div > * {
    filter: blur(2px);
  }

  .is-loading{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    color: #fff;
    background-color: rgba(#000, .8);
  }
}
